packages:
  yum:
    python-setuptools: []

commands:
  01-install:
    command: easy_install supervisor
    ignoreErrors: true
 
container_commands:
  01-init:
    command: "cp .ebextensions/supervisord.init /etc/rc.d/init.d/supervisord"
  02-chmod:
    command: "chmod +x /etc/rc.d/init.d/supervisord"
  03-config:
    command: "echo_supervisord_conf > /etc/supervisord.conf"
  04-mkdir:
    command: "mkdir /etc/supervisord.d"
  05-config:
    command: "echo '[include]' >> /etc/supervisord.conf && echo 'files = /etc/supervisord.d/*.conf' >> /etc/supervisord.conf"
  06-worker:
    command: "cp .ebextensions/example.conf /etc/supervisord.d/example.conf"
  07-ln:
    command: "rm /usr/local/bin/supervisord && ln -s /usr/bin/supervisord /usr/local/bin/supervisord"
  08-start:
    command: "service supervisord restart"
